@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: rgb(3, 236, 15);
}

li,
a {
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background: rgb(45, 216, 2);
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  animation: down 1s ease-in-out;
}

.center a {
  color: #fff;
  text-decoration: underline;
}

.center a:hover {
  opacity: 0.9;
}

/* ------ MENU MOBILE ------ */

.menu {
  display: none;
  list-style: none;
  color: rgb(44, 221, 0);
}

.menu li {
  position: relative;
  float: left;
}

#id-menu {
  color: #000;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.menu li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}

.menu li ul {
  position: absolute;
  top: 40px;
  left: -50px;
  border: 1px solid rgb(224, 224, 224);
  box-shadow: 0px 0px 20px rgb(224, 224, 224);
  background: #fff;
  display: none;
  border-radius: 20px;
}

.menu li ul li {
  opacity: 0.8;
}

.menu li:hover ul,
.menu li.over ul {
  display: flex !important;
  padding: 10px;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.menu li ul li {
  transition: 0.6s ease-in-out !important;
  display: block;
  width: 200px;
}

.menuDesign div {
  opacity: 0.7;
  width: 26px;
  height: 3px;
  margin: 5px;
  background: #000;
}

/* ------ END ------ */

/* ------ HEADER ------ */

nav {
  display: flex;
  justify-content: space-around;
  height: 8vh;
  position: fixed !important;
  align-items: center;
  background: #fff;
  opacity: 1;
  width: 100%;
}

nav a {
  color: #000;
  font-weight: bold;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}

nav ul li a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 30px;
  color: rgb(37, 184, 0);
}

nav ul li::before,
nav ul li::after {
  content: '|';
  opacity: 0.5;
}

/* ---- HOME ------ */

.home {
  display: flex;
  flex-direction: column;
}

.first-display {
  height: 100vh;
  background: url(https://github.com/Luan16p/Frameworks-img-database/blob/main/Data%20extraction-pana.png?raw=true)
    no-repeat center right;
  background-size: 700px;
  background-attachment: fixed;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 500px;
  width: 73vw;
  height: 80vh;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 15px;
  margin-left: 50px;
}

.content h2 {
  font-size: 36px;
}

.content p {
  font-size: 20px;
  color: rgb(43, 43, 43);
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btns button {
  cursor: pointer;
  height: 5vh;
  border-radius: 50px;
}

.btn1 {
  border: 0;
  background: #fff;
  box-shadow: 0px 0px 20px rgb(204, 203, 203);
  width: 300px;
  transition: 0.4s;
}

.btn1:hover {
  color: rgb(37, 184, 0);
  box-shadow: 0px 0px 40px rgb(167, 166, 166);
}

.btn2 {
  border: 0;
  background: rgb(37, 184, 0);
  width: 250px;
  color: #fff;
  transition: 0.4s;
}

.btn2:hover {
  box-shadow: 0px 0px 20px rgb(41, 192, 3);
}

.features {
  display: flex;
  align-items: center;
  height: 70vh;
}

.fcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100vw;
}

#cards-logo {
  font-size: 40px;
  text-shadow: 5px 0px 50px rgb(42, 207, 1);
  color: rgb(116, 236, 3);
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
  padding-bottom: 20px;
}

.card-single {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(44, 221, 0);
  width: 17vw;
  height: 36vh;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: rgb(72, 255, 0);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.card-single:hover {
  box-shadow: 0 0 40px rgb(172, 172, 172);
}

.card-single img {
  width: 8vw;
}
.makers {
  background: rgb(24, 24, 24);
}

.fmakers {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 60vh;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.content-makers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 200px;
  align-items: center;
  margin: 20px;
}

#makers-logo {
  padding-top: 40px;
}

.content-makers img {
  width: 400px;
}

.fmakers h2 {
  font-size: 50px;
  text-shadow: 0px 0px 50px #fff;
}

.users {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}

.users img {
  width: 30px;
}

.user1,
.user2 {
  background: rgba(65, 65, 65, 0.747);
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 6px;
  cursor: pointer;
}

.user1:hover,
.user2:hover {
  box-shadow: 0 0 20px rgb(49, 49, 49);
}

.getStarted {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.getStarted button {
  padding: 12px 50px;
  border: 0;
  border-radius: 5px;
  background: rgb(3, 236, 15);
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.getStarted button:hover {
  box-shadow: 0px 0px 40px rgb(3, 236, 15);
}

/* ---- ABOUT ------ */

/* ---- REGISTER ----- */

.form {
  height: 100vh;
  width: 100vw;
  background: url(https://images.unsplash.com/photo-1489486501123-5c1af10d0be6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)
    no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fff;
  border-radius: 5px;
  max-width: 450px;
  width: 400px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

form input {
  padding: 10px;
  height: 40px;
  width: 350px;
  outline: 0;
  border: 0;
  box-shadow: 0 0 10px rgb(169, 177, 162);
  border-radius: 5px;
}

form h2 {
  color: rgb(41, 192, 3);
}

.input {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.botoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.botoes button {
  height: 40px;
  width: 200px;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  transition: 0.6s;
}

.gotoSubmit {
  background: rgb(41, 192, 3);
  color: #fff;
}

.gotoSubmit:hover {
  box-shadow: 0 0 30px rgb(180, 236, 127);
}

.gotoLogin {
  background: #fff;
}

.gotoLogin:hover {
  color: rgb(77, 190, 11);
  box-shadow: 0 0 7px rgb(167, 166, 166);
}

.formlogin {
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80)
    no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start !important;
}

#login p {
  color: rgb(146, 144, 144);
}

#forgot {
  text-align: start !important;
  color: rgb(66, 65, 65);
  text-decoration: underline;
}

#login h2 {
  font-size: 50px;
}

.botoes .log-on {
  background: #fff;
  box-shadow: 0 0 20px rgb(189, 189, 189);
}

.hours {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

/* ---- FOOTER ----- */

footer {
  height: 30vh;
  background: rgb(24, 24, 24);
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 150px;
}

footer div {
  color: rgb(255, 255, 255) !important;
}

footer div li > a {
  color: #fff;
  list-style-type: none;
}

.right {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: 15px;
  gap: 50px;
  font-weight: bold;
}

.right h3 {
  color: rgb(167, 167, 167);
}

footer div li {
  margin: 5px 0;
}

footer div li > a:hover {
  color: rgb(3, 236, 15);
}

.market {
  display: flex;
  background: rgb(24, 24, 24);
  justify-content: space-around;
}

.market-info img {
  width: 30px;
}

.market p {
  color: #fff;
}

.market p::before {
  content: '© ';
}

.market-info {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.error {
  width: 100vw;
  height: 100vh;
  background: url(https://github.com/Luan16p/Frameworks-img-database/blob/main/404%20Error-bro.png?raw=true)
    no-repeat center right;
  background-attachment: fixed;
  background-size: 600px;
}

.box {
  display: flex;
  flex-direction: column;
  height: inherit;
  flex: 0;
  justify-content: center;
  width: 500px;
  align-items: center;
}

.box-grid {
  background: rgba(255, 255, 255, 0.979);
  border-radius: 10px;
  padding: 50px;
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 30px rgb(190, 190, 190);
  gap: 20px;
}

.box h2 {
  font-size: 50px;
}

.btn-404 a {
  padding: 10px 30px;
  border-radius: 5px;
  background: #000;
  color: #fff;
  transition: 0.3s;
  box-shadow: 0 0 15px #000;
}

.btn-404 a:hover {
  box-shadow: 0 0 30px rgb(56, 56, 56);
}

.notFound--try {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
}

.notFound--try li {
  cursor: pointer;
}

.notFound--try li:hover {
  color: red;
}

.notFound--try li::before {
  content: '- ';
}
